<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Cadastro concluído</h2>
        <p class="text-center"> <b>Você esta pronto para logar</b> </p>
    </div>
</div>